*{
    font-family: 'Roboto';
}

footer{
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    margin: 0;
}
